# Visual Studio project files.
VK-Telegram Poster.pyproj
VK-Telegram Poster.sln
.vs

# Work folders.
Config/*
Logs
Temp

# Don't ignore configs examples.
!Config/# Callback API Example.json
!Config/# Open API Example.json

# VK coockies.
vk_config.v2.json

# Python cache.
__pycache__