# Visual Studio project files.
VK-Telegram Poster.pyproj
VK-Telegram Poster.sln
.vs

# Work folders.
Config/*
Logs
Temp

# Don't ignore config example.
!Config/Example.json

# Python cache.
__pycache__