# Python cache and virtual enviroment/
__pycache__
.venv

# Work folders.
Config/*
Logs
Temp

# Don't ignore configs examples.
!Config/# Callback API Example.json
!Config/# Open API Example.json

# VK coockies.
vk_config.v2.json
