# Скрипт инициализации сервиса VK-Telegram Poster.
#==========================================================================================#
# {Application Directory} – путь к директории со скриптом.
# {IP} – статичный белый IP вашего сервера.
# {PORT} – свободный порт вашего сервера. 

[Unit]
Description=VK-Telegram Poster
After=network.target

[Service]
Type=simple
User=root
Group=root
WorkingDirectory={Application Directory}
ExecStart=/usr/local/bin/uvicorn vtp:App --host {IP} --port {PORT}
Restart=on-failure
RestartSec=60

[Install]
WantedBy=multi-user.target